# Reference: https://github.com/github/gitignore

### Maven ###
target/
dependency-reduced-pom.xml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!.mvn/wrapper/maven-wrapper.jar


### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.target


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
