page-end {
  .background {
    background-image: url('../assets/imgs/stockholmBg.jpg');
  }

  .button1 {

    position: absolute;
     bottom: 10px;
     width: 100%;
     border: 1px solid black;
  }

}
