page-end {
  .background {
    background-image: url('../assets/imgs/stockholmBg.jpg');
  }

  h1 {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .button1 {
     position: absolute;
     bottom: 10px;
     width: 100%;
     border: 1px solid black;
  }

  h2{
    color: white;
    font-size: 25px;
    text-align: center;
  }

  #play {
    padding-top: 80px;
  }

  #share {
    padding-top: 50px;
  }

}
